
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 1400px;
    cursor: url(../image/cursor.png), auto;
}
a:hover{
    cursor: url(../image/cursor_click.png), auto;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 20%; /* 스크롤바의 길이 */
    background: #43505a; /* 스크롤바의 색상 */
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(201, 201, 201, 0.1);  /*스크롤바 뒷 배경 색상*/
}

/* Header _ Start */

/* 고정 헤더 */
#header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 98;
}

.hd_content_wrap {
    margin: 0;
    width: 100%;
    height: 65px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: fixed;
    padding: 0 50px;
    box-sizing: border-box;
    z-index: 99;
}
.head_logo a {
    width: 140px;
    height: 65px;
    display: block;
    background-image: url(../image/hd_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    align-self: center;
}

.head_link {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.head_link li a {
    display: block;
    width: 25px;
    height: 25px;
    background-size: 86%;
    background-repeat: no-repeat;
    background-position: center;
}

.head_link li:nth-child(2) a {
    margin: 0 25px;
}

.search a {
    background-image: url(../image/search.png);
}

.cart a {
    background-image: url(../image/cart.png);
}
/* 햄버거메뉴 */
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
.menu-trigger {
    position: relative;
    width: 30px;
    height: 30px;
  }
  
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 22px;
    height: 3px;
    background-color: #4b565e;
  }
  
  .menu-trigger span:nth-of-type(1) {
    top: 3px;
    transition: all 0.4s ease;
  }
  
  .menu-trigger span:nth-of-type(2) {
    top: 11px;
    transition: all 0.2s ease;
  }
  
  .menu-trigger span:nth-of-type(3) {
    bottom: 3px;
    transition: all 0.4s ease;
  }
  
  /* 2th bar 사라지고,  1st 3rd bar 회전하며 X  */
  
  .menu-trigger.active-1 span:nth-of-type(1) {
    transform: translateY(8px) rotate(-45deg);
    width: 24px;
    transition: all 0.4s ease;
  }
  
  .menu-trigger.active-1 span:nth-of-type(2) {
    opacity: 0;
    transition: all 0.2s ease;
  }
  
  .menu-trigger.active-1 span:nth-of-type(3) {
    transform: translateY(-8px) rotate(45deg);
    width: 24px;
    transition: all 0.4s ease;
  }

/* Sidebar_S */
.sidebar {
    width: 340px;
    height: 100vh;
    background-color: rgba(199, 214, 225, 0.6);
    backdrop-filter: blur(10px);
    position: fixed ;
    top: 0; 
    right: -340px;
    box-sizing: border-box;
    padding-top: 200px;
    padding-right: 30px;
    text-align: right;
    border-radius: 30px 0 0 30px;
    transition: 0.7s;
    z-index: 90;

}

.sidebar.active {
    right: 0;
}
.gnb{
    display: block;
}
.sidemenu{
    display: block;
}
.sidemenu a{
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 550;
    color: #43505a;
    letter-spacing: 1px;
    display: block;
    position: relative;
}
.sidemenu a.on{
    color: #fff;
}
.gnb>li {
    margin-bottom: 30px;
}

.gnb>li>a:hover {
 
   color: #fff;
}
.submenu{
    display: none;
    padding-top: 13px;
}
.submenu a{
    display: block;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 550;
    color: #556570;
    padding-bottom: 13px;
}
.submenu a:hover{
    color: #8098b0;
}
/* Sidebar_E */



/* 메인 영상 */
.main_video {
    width: 100vw;
    height: 695px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
}

.main_video video {
    width: 100%;
    object-fit: cover;
}

.main_logo {
    position: absolute;
    width: 350px;
    height: 100px;
    background-image: url(../image/main-logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform:translateX(-50%) translateY(-50%);
}

/* Header _ End */

/* Container _ Start */

/* 메인 슬라이드 배너 */
.swiper_container-banner {
    margin: 50px auto;
    width: 1320px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
}

.swiper_container-banner .swiper-button-next,
.swiper-button-prev {
    --swiper-theme-color: white;
    margin: 20px;
}

/* TEXT FLOW */
.txt-flow_wrap {
    width: 100vw;
    height: 90px;
    background-color:#ededed;
    /* border-top: 2px solid #505050;
    border-bottom: 2px solid #505050; */
    overflow: hidden;
    position: relative;
}

.txt-flow {
    font-family: "Grape Nuts", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 34px;
    color: #505050;
    letter-spacing: 3px;
    white-space: nowrap;
    position: absolute;
    animation: flow 120s linear infinite;
    display: flex;
    flex-flow: row nowrap;
    height: 90px;
}

@keyframes flow {
    form {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.txt-flow p {
    align-self: center;
}

.txt-flow img{
    display: block;
    width: 185px;
    height: 50px;
    object-fit: cover;
    align-self: center;
}



/* 베스트상품*/
.best_product {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 160px;
}

.best_product_wrap {
    width: 1920px;
    height: 680px;
    padding-left: 300px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    
}

.best_product .txt_box {
    width: 420px;
    height: 680px;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* 메인 텍스트 속성 */
.main_tit {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 650;
    letter-spacing: 2px;
    color: #474747;
}

.main_txt {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 18px;
    color: #474747;
    margin-bottom: 80px;
    line-height: 24px;
}

/* 모두 보러가기 botton */
.bt-total_product {
    display: inline-block;
    text-align: center;
    width: 150px;
    border-radius: 30px;
    font-family: "Pretendard Variable", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    padding: 10px;
    border: 3px solid #fff;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
}

.bt-total_product,
.bt-total_product::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.bt-total_product::before,
.bt-total_product::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.bt-total_product:hover {
    color: #c7d6e1;
    border: 3px solid #c7d6e1;
}

.bt-total_product::after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
}

.bt-total_product:hover:after {
    height: 100%;
}

/* 베스트;포인트배경 */
.list_bg {
    width: 100vw;
    height: 270px;
    background-color: #c7d6e1;
    z-index: -99;
    position: absolute;
    top: 380px;
}

/* 베스트; 스와이퍼 */
.swiper_container-bestlist {
    overflow: hidden;
    width: 1200px;
    height: 680px;
}

.swiper_container-bestlist .swiper-slide img {
    display: block;
    width: 405px;
    height: 600px;
    position: relative;
    object-fit: cover;
    border-radius: 20px;
}

.swiper_container-bestlist .swiper-slide {
    width: 405px;
    height: 600px;
    margin: 0 10px;
    border-radius: 20px;
    overflow: hidden;
}

/* 베스트; 스와이퍼 호버 */
.swiper_container-bestlist .swiper-slide:hover .list_tit-eng,
.swiper_container-bestlist .swiper-slide:hover .list_tit-kor
{
    color: #8197a7;
}
.swiper_container-bestlist .swiper-slide:hover img{
    filter: brightness(1.02);
}
.swiper_container-bestlist .swiper-slide .list_tit-eng {
    position: absolute;
    top: 78%;
    left: 5%;
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    font-weight: 600;
    color: #505050;
}

.swiper_container-bestlist .swiper-slide .list_tit-kor {
    position: absolute;
    top: 83%;
    left: 5%;
    font-family: "Pretendard Variable", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1px;
    color: #505050;
}

.swiper_container-bestlist .swiper-slide .list_price {
    position: absolute;
    top: 90%;
    right: 5%;
    font-family: "Pretendard Variable", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #7a94ad;
}

.swiper_container-bestlist .swiper-scrollbar-wrap {
    position: relative;
    width: 1050px;
    margin-left: 35px;
    margin-top: 25px;
}

.swiper_container-bestlist .swiper-scrollbar {
    position: absolute;
    top: 50px;
    background-color: #ededed;
    border-radius: 3px;
    width: 70%;
}

.swiper_container-bestlist .swiper-scrollbar-drag {
    background-color: #b7b7b7;
}

/* NEW ARRIVAL */
.new_pd {
    width: 100%;
    height: 670px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    background-image: linear-gradient(0deg, #f2f9fe, #ffffff);
}
/* 신상품; 제목 */
.new_pd-tit {
    font-family: "Grape Nuts", cursive;
    font-size: 68px;
    font-weight: bold;
    letter-spacing: -8px;
    /* color: #324e6a; */
    color: #677a88;
    margin-bottom: 10px;
}
@keyframes anime_textup { 0% { top: 0; } 20% { top: -0.2rem; } 40% { top: 0 } 60% { top: 0 } 80% { top: 0 } 100% { top: 0 } }
 
.new_pd-tit span {
    position: relative;
    animation: anime_textup 1.5s infinite;
}

.new_pd-tit span:nth-of-type(1) {
    animation-delay: .1s;
}

.new_pd-tit span:nth-of-type(2) {
    animation-delay: .2s;
}

.new_pd-tit span:nth-of-type(3) {
    animation-delay: .3s;
}

.new_pd-tit span:nth-of-type(4) {
    animation-delay: .4s;
}

.new_pd-tit span:nth-of-type(5) {
    animation-delay: .5s;
}
.new_pd-tit span:nth-of-type(6) {
    animation-delay: .6s;
}
.new_pd-tit span:nth-of-type(7) {
    animation-delay: .7s;
}
.new_pd-tit span:nth-of-type(8) {
    animation-delay: .8s;
}
.new_pd-tit span:nth-of-type(9) {
    animation-delay: .9s;
}
.new_pd-tit span:nth-of-type(10) {
    animation-delay: 1.0s;
}
.new_pd-tit span:nth-of-type(11) {
    animation-delay: 1.1s;
}
/* 신상품; 배경 */


/* 신상품; 이미지 */
.new_pd-img {
    width: 460px;
    height: 360px;
    background-image: url(../image/bodycream.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    transform: translateX(-66%);
}


/* 신상품 내용 */
.new_pd-txt_wrap {
    text-align: center;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
}

.new_pd-txt1 {
    font-family: "Libre Baskerville", serif;
    font-size: 25px;
    font-weight: 600;
    color: #43505a;
}

.new_pd-txt2 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
    color: #43505a;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* 구매하기 botton */
.bt-pd_link {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    border: 2px solid#43505a;
    color: #43505a;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
}

.bt-pd_link,
.bt-pd_link::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.bt-pd_link::before,
.bt-pd_link::after {
    background: #43505a;
    content: '';
    position: absolute;
    z-index: -1;
}

.bt-pd_link:hover {
    color: #fff;
    border: 3px solid #e8f2fc;
}

.bt-pd_link::after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
}

.bt-pd_link:hover:after {
    height: 100%;
}

/* 신상품 소개 */
.bl {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 33px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #70a0c4;
}

.color-txt {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 20px;
    font-weight: 450;
    letter-spacing: -1px;
    color: #505050;
}

.contents-img {
    width: 190px;
    height: 190px;
    background-image: url(../image/new_pd-contents.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
}
.new_pd-contents_wrap{
    width: 1320px;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}
.new_pd-contents_l {
    position: absolute;
    text-align: center;
    left: 30px;
    bottom: 100px;
}

.new_pd-contents_r {
    position: absolute;
    text-align: center;
    bottom: 50px;
    right: 110px;
}

/* 서브배너 */
.sub_banner{
    width: 100vw;
    height: 150px;
    background-color: #c7d6e1;
    font-family: "Pretendard Variable", sans-serif;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub_banner_wrap{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1100px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.sub_banner a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    width: 150px;
    height: 35px;
    color: #adbfcd;
    /* border: 2px solid #5f7484; */
    background-color: #ffffff;
    border-radius: 30px;
    align-self: center;
    margin-right: 130px;
}
.sub_banner a:hover{
    transition: all 0.7s;
    color: #8b8b8b;
}

/* 콜렉션 */
.collection{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.collection_wrap {
    display: flex;
    flex-direction: row nowrap;
    margin-top: 150px;
    width: 1920px;
    height: 500px;
    box-sizing: border-box;
    padding-right: 300px;
    margin-bottom: 50px;
}

.collection .txt_box {
    text-align: right;
    width: 550px;
    height: 500px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.collection .bt-total_product {
    align-self: flex-end;
}

/* 콜렉션;스와이퍼 */
.swiper_container-collection {
    overflow: hidden;
    width: 1070px;
    height: 500px;
}

.swiper_container-collection .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.4s;
}
.swiper_container-collection .swiper-slide a p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 65px;
    text-align: center;
}

.swiper_container-collection .swiper-slide {
    width: 650px;
    height: 450px;
    margin: 0 10px;
    border-radius: 20px;
    overflow: hidden;
}

.swiper_container-collection .swiper-scrollbar-wrap {
    position: relative;
    width: 1000px;
    margin-right: 45px;
    margin-top: 25px;
}

.swiper_container-collection .swiper-scrollbar {
    position: absolute;
    top: 50px;
    background-color: #ededed;
    border-radius: 3px;
    width: 70%;
}

.swiper_container-collection .swiper-scrollbar-drag {
    background-color: #b7b7b7;
}
.swiper_container-collection .swiper-slide:hover img{
    filter: brightness(106%);
} 
/* 콜렉션;포인트배경 */

.list_bg_2 {
    width: 100vw;
    height: 270px;
    background-color: #c7d6e1;
    z-index: -100;
    position: absolute;
    top:380px;
}
/* 브랜드 영상 */
.brand_video_wrap{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.brand_video{
    width: 1320px;
    height: 100%;
    border-radius: 20px;
}
/* 브랜드 */
.brand {
    width: 1320px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
}

.brand_link_1 a {
    display: block;
    width: 830px;
    height: 500px;
    border-radius: 20px;
    background-image: url(../image/go_about-us2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.brand_link_2 a {
    display: block;
    width: 460px;
    height: 500px;
    border-radius: 20px;
    background-image: url(../image/go_zero-waste.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    overflow: hidden;
    position: relative;
    filter: brightness(104%);
}

.brand_go {
    display: inline;
    font-family: "Pretendard Variable", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #ffffff;
    text-shadow: #4f5052 0px 0px 5px;
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0%;
    z-index: 6;
}

/* 브랜드; 호버  */
.brand a:hover .txtwrap {
    transform: translateY(-20px);
    transition: all 1s;
    text-shadow: #ffffff 0px 0px 5px;
}

.brand a:hover .brand_go {
    display: inline;
    opacity: 100%;
    transition: all 1s;
}
.brand_link_1 a:hover{
    background-size: 104%;
    background-position: center;
    transition: all 1s;
}
.brand_link_1 a:hover .adjustbox {
    opacity: 0.1;
}
.brand_link_2 a:hover{
    background-size: 105%;
    background-position: center;
    transition: all 1s;
}
.brand_link_2 a:hover .adjustbox {
    opacity: 0;
}

.adjustbox {
    width: 1000px;
    height: 500px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 3;
}

.brand_link_1 .adjustbox {
    opacity: 0.22;
    position: absolute;
}

.brand_link_2 .adjustbox {
    opacity: 0.1;
    position: absolute;
}

.txtwrap {
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand_link_1 .txtwrap {
    width: 840px;
    height: 500px;
}

.brand_link_2 .txtwrap {
    width: 460px;
    height: 500px;
}

.brand_tit {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 650;
    letter-spacing: 2px;
    color: #43505a;
    margin-bottom: 10px;
}

.brand_txt {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
    color: #556570;
}

/* 팔로우어스(sns) */
.sns {
    margin: 80px auto;
    text-align: center;
}

.sns-tit {
    font-family: "Grape Nuts", cursive;
    font-size: 70px;
    font-weight: 400;
    color: #8098b0;
}

.sns-txt {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #717171;
}

/* 팔로우어스; 스와이퍼 */
.swiper_container-followus {
    width: 100%;
    height: 300px;
    margin: 30px auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.swiper_container-followus .swiper-slide a{
    display: block;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}
.swiper_container-followus .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper_container-followus .swiper-slide a:hover img{
    transform-origin: center;
    transform: scale(105%);
    transition: all 0.7s;
}

.followus {
    width: 1320px;
    height: 300px;
}


/* Container_ End */

/* Footer_ Strart */
#footer {
    width:100vw;
    background-color: #c7d6e1;
    height: 360px;
}

.foot-wrap {
    width: 1320px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
}

.foot_logo {
    width: 660px;
    height: 360px;
    background-image: url(../image/ft_logo.png);
    background-position: center 75px;
    background-repeat: no-repeat;
    background-size: 70%;
}

.foot-link {
    width: 660px;
    height: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 80px 50px;
    font-family: Montserrat;
    color: #43505a;
}

.ft-tit {
    font-size: 18px;
    font-weight: 640;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.ft-sub li {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}
.ft-sub li:hover{
    text-decoration: underline;
}
.copyright-wrap {
    background-color: #fff;
    height: 60px;
    border-top: 1px solid #505050;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    color: #505050;
}

/* Footer_ End */
