* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 1450px;
    cursor: url(../image/cursor.png), auto;
}
a:hover{
    cursor: url(../image/cursor_click.png), auto;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 20%; /* 스크롤바의 길이 */
    background: #43505a; /* 스크롤바의 색상 */
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(201, 201, 201, 0.1);  /*스크롤바 뒷 배경 색상*/
}

/* Header _ Start */

/* 고정 헤더 */
#header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 98;
}

.hd_content_wrap {
    margin: 0;
    width: 100%;
    height: 65px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: fixed;
    padding: 0 50px;
    box-sizing: border-box;
    z-index: 99;
}
.head_logo a {
    width: 140px;
    height: 65px;
    display: block;
    background-image: url(../image/hd_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    align-self: center;
}

.head_link {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.head_link li a {
    display: block;
    width: 25px;
    height: 25px;
    background-size: 86%;
    background-repeat: no-repeat;
    background-position: center;
}

.head_link li:nth-child(2) a {
    margin: 0 25px;
}

.search a {
    background-image: url(../image/search.png);
}

.cart a {
    background-image: url(../image/cart.png);
}
/* 햄버거메뉴 */
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
.menu-trigger {
    position: relative;
    width: 30px;
    height: 30px;
  }
  
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 22px;
    height: 3px;
    background-color: #4b565e;
  }
  
  .menu-trigger span:nth-of-type(1) {
    top: 3px;
    transition: all 0.4s ease;
  }
  
  .menu-trigger span:nth-of-type(2) {
    top: 11px;
    transition: all 0.2s ease;
  }
  
  .menu-trigger span:nth-of-type(3) {
    bottom: 3px;
    transition: all 0.4s ease;
  }
  
  /* 2th bar 사라지고,  1st 3rd bar 회전하며 X  */
  
  .menu-trigger.active-1 span:nth-of-type(1) {
    transform: translateY(8px) rotate(-45deg);
    width: 24px;
    transition: all 0.4s ease;
  }
  
  .menu-trigger.active-1 span:nth-of-type(2) {
    opacity: 0;
    transition: all 0.2s ease;
  }
  
  .menu-trigger.active-1 span:nth-of-type(3) {
    transform: translateY(-8px) rotate(45deg);
    width: 24px;
    transition: all 0.4s ease;
  }

/* Sidebar_S */
.sidebar {
    width: 340px;
    height: 100vh;
    background-color: rgba(199, 214, 225, 0.6);
    backdrop-filter: blur(10px);
    position: fixed ;
    top: 0; 
    right: -340px;
    box-sizing: border-box;
    padding-top: 200px;
    padding-right: 30px;
    text-align: right;
    border-radius: 30px 0 0 30px;
    transition: 0.7s;
    z-index: 90;

}

.sidebar.active {
    right: 0;
}
.gnb{
    display: block;
}
.sidemenu{
    display: block;
}
.sidemenu a{
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 550;
    color: #43505a;
    letter-spacing: 1px;
    display: block;
    position: relative;
}
.sidemenu a.on{
    color: #fff;
}
.gnb>li {
    margin-bottom: 30px;
}

.gnb>li>a:hover {
 
   color: #fff;
}
.submenu{
    display: none;
    padding-top: 13px;
}
.submenu a{
    display: block;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 550;
    color: #556570;
    padding-bottom: 13px;
}
.submenu a:hover{
    color: #8098b0;
}
/* Sidebar_E */

/* Container_ Start */
/* MEMBERSHIP */
.community-tit{
    width: 100vw;
    height: 300px;
    text-align: center;
    background: url(../image/event.jpg) 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Montserrat;
    font-weight: 300;
    letter-spacing: 3px;
    color: #43505a;
}

.benefit_box{
    width: 900px;
    height: 450px;
    background-color: #f6f9fa;
    border-radius: 30px;
    margin: 50px auto;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
}
.benefit_box img{
    margin: 40px;
}
.benefit_tit{
    font-family: "Libre Baskerville", serif;
    font-size: 24px;
    font-weight: 500;
}
.benefit_txt{
    font-family: "Pretendard Variable", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
    color: #43505a;
    margin: 10px 0;
}
.benefit_txt2{
    font-family: "Pretendard Variable", sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -1px;
    color: #6f6f6f;
    line-height: 24px;
}
.benefit_btn{
    display: inline-block;
    background-color:#677a88;
    border-radius: 50px;
    padding: 10px 20px;
    font-family: "Pretendard Variable", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff; 
    margin: 30px;
    transition: all 0.3s;
}
.benefit_btn:hover{
    background-color:#93aab8;
}
.tab-container{
    text-align: center;
}
.tab{
    display:none
}
.tab.on{
    display:block
}
.tab-container{
    width: 900px;
    display:flex;
    justify-content:center;
    margin: auto;
    font-size:18px
}
.tabs{
    width: 25%;
    padding:15px 20px;
    border-radius:20px 20px 0px 0px;
    background:#c5d4de;
    transition:all .3s;
    color: #43505a;
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    font-weight: 400;
}
.tabs:hover{
    padding:10px 30px
}
.tabs.on{
    color:#fff;
    background:#a9c0d0}
.tab_wrap{
    width: 900px;
    height: 1100px;
    margin: auto;
    margin-bottom: 80px;
    text-align:center;
    background:#f2f4f5;
    border-radius:0px 0px 20px 20px;
    font-family: "Pretendard Variable", sans-serif;
    position: relative;
    letter-spacing: -1px;
    box-sizing: border-box;
    padding-top: 140px;
}
.standard h2{
    font-weight: 600;
    color: #43505a;
}
.standard p{
    font-size: 18px;
}
.standard{
    width: 100%;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.tab_wrap h3{
    color: #505050;
    font-size: 22px;
    font-weight: 500;
}
.membership_content{
    display: inline-block;
    background-color: #ffffff;
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: -1px;
}
.content_wrap img{
    margin: 20px 0;
}
.content_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin: 50px 0;
}

/* NOTICE */


/* EVENT */
.event_btn_wrap{
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.event_btn{
    display: inline-block;
    background-color:#c7d6e1;
    border-radius: 50px;
    padding: 10px 20px;
    font-family: "Pretendard Variable", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #f3f3f3; 
    margin: 30px;
    transition: all 0.3s;
}
.event_btn-on{
    display: inline-block;
    background-color: #8098b0;
    border-radius: 50px;
    padding: 10px 20px;
    font-family: "Pretendard Variable", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff; 
    margin: 30px;
    transition: all 0.3s;
}
.event_btn:hover{
    background-color: #8098b0;
}
.event_content_wrap{
    width: 1320px;
    margin: 0 auto;
}
.event_btn_wrap ul{
    display: flex;
    flex-direction: column;
}
.event_img{
    width: 600px;
    height: 450px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.event_content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 40px;
    margin: 40px 0;
}
/* Container_ End */

/* Footer_ Strart */
#footer {
    background-color: #c7d6e1;
    height: 360px;
}

.foot-wrap {
    width: 1320px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
}

.foot_logo {
    width: 660px;
    height: 360px;
    background-image: url(../image/ft_logo.png);
    background-position: center 75px;
    background-repeat: no-repeat;
    background-size: 70%;
}

.foot-link {
    width: 660px;
    height: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 80px 50px;
    font-family: Montserrat;
    color: #43505a;
}

.ft-tit {
    font-size: 18px;
    font-weight: 640;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.ft-sub li {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}
.ft-sub li:hover{
    text-decoration: underline;
}
.copyright-wrap {
    background-color: #fff;
    height: 60px;
    border-top: 1px solid #505050;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    color: #505050;
}

/* Footer_ End */